<template name="main">
<div class="jumbotron">
  <h1>Welcome to my little site</h1>
  <p>Explore the navbar and get to know a little about me.</p>
  <p>
    There are two sections. About me has my resume CV and some info around what
    I enjoy about computer science. Logic, games and code is a selection of some
    fun projects I have worked on in my own time.
  </p>
  <img src="DBG_profile.JPG" alt="personal profile" class="img-thumbnail pull-right" />
  <h2>Contact Info.</h2>
  <div class="list-group" style="max-width:60%">
    <div class="list-group-item">
      LinkedIn &ensp;<a href="https://www.linkedin.com/in/david-garvey-5897a328">https://www.linkedin.com/in/david-garvey-5897a328</a>
    </div>
    <div class="list-group-item">
      GitHub &ensp;&ensp;<a href="https://github.com/David-bfg">https://github.com/David-bfg</a>
    </div>
    <div class="list-group-item">
      Email &ensp;&ensp;&ensp;david_b1_g at yahoo.com
    </div>
  </div>
  <p>
    If you wish to contact me for some reason put "(cthulhu)" as the first thing
    in the subject line for an introductory Email. It's only so I can
    diferentiate between spam-bots and real live human beings.
  </p>
  <br/><br/><br/>
</div>
</template>
