<template name="mastermind">
{{> mastermindcode}}
{{> mastermindblurb}}
<center>
  <table>
  {{#each guesses}}
    {{> guess}}
  {{/each}}
  </table>
  {{#each mastermindCurrentGuess}}
    <div class="dropdown col-md-2 col-sm-3">
      <button class="btn btn-default dropdown-toggle" type="button" id="colorDropdown{{index}}" data-toggle="dropdown" aria-expanded="true">
        {{> peg}} <span class="caret"></span>
      </button>
      <!-- <select class="selectpicker btn btn-default"> -->
      <ul class="dropdown-menu" role="menu" aria-labelledby="colorDropdown{{index}}">
      {{#each mastermindColors}}
        <li role="presentation" value="{{color}}">
          <a role="menuitem" tabindex="-1" href="#">
            {{> peg}}
          </a>
        </li>
      {{/each}}
      </ul >
      <!-- </select> -->
    </div>
  {{/each}}
</center>
<div class="col-md-4 col-sm-3">
  {{#if isSolved}}
    <button class="btn btn-default btn-lg" type="button" id="new-game">
      New Game
    </button>
  {{else}}
    <nav>
      <ul class="pagination pagination-lg">
        <li class="shift" value="down"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li id="submit"><a href="#">submit</a></li>
        <li class="shift" value="up"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
    </nav>
  {{/if}}
</div>
</template>


<template name="guess">
<tr>
  {{#each pegs}}
    <td>
      {{> peg}}
    </td>
  {{/each}}
  <td>
    {{bulls}} Bulls <br/> {{cows}} Cows
  </td>
</tr>
</template>

<template name="peg">
<svg width="50" height="50">
  <rect width="50" height="50" fill="{{color}}" />
</svg>
</template>

<template name="mastermindblurb">
<p>
Above is some prolog code to take a given state of a mastermind game and return
all posible solutions. I re-wrote it in javascript to use for the game below.
Try and play, use the arrows to scroll through posible solutions.
</p>
</template>

<template name="mastermindcode">
{{#markdown}}
```
color(red).
color(green).
color(orange).
color(blue).
color(magenta).
color(yellow).
color(brown).
color(purple).

master(A,B,C,D):-color(A),color(B),color(C),color(D),validate([A,B,C,D]).

validate(A):-known(K),validate(A,K).
validate(A,[X|Y]):-check(A,X),validate(A,Y).
validate(_,[]).

check(A,[E,F,G,H,O,S]):-same(A,[E,F,G,H],X),X=S,col-exist(A,[E,F,G,H],Y),O=Y.

col-exist([H|T],X,V):-exist(H,X,Y,AV),col-exist(T,Y,V1),V is AV+V1.
col-exist([],_,0).

exist(X,[H|T],[H|Y],V):-X\=H,exist(X,T,Y,V).
exist(X,[H|T],T,1):-X=H.
exist(_,[],[],0).

same([H|T],[X|Y],V):-H\=X,same(T,Y,P),P=V.
same([H|T],[X|Y],V):-H=X,same(T,Y,P),V is P+1.
same([],[],0).

known(K):-K=[
[purple,orange,blue,yellow,1,0],
[red,brown,green,magenta,1,1]].
```
{{/markdown}}
</template>
