<template name="selectproject">
<div class="row">
  <div>
    <a class="thumbnail" id="elevatorsaga">
      <center><svg width="200" height="200">
       <rect width="200" height="66" stroke="blue" stroke-width="4" fill="grey" />
       <rect width="200" height="66" y="66" stroke="blue" stroke-width="4" fill="grey" />
       <rect width="200" height="66" y="132" stroke="blue" stroke-width="4" fill="grey" />

       <rect width="60" height="60" x="3" y="3" fill="green" />
       <rect width="60" height="60" x="69" y="69" fill="green" />
       <rect width="60" height="60" x="137" y="135" fill="green" />

      Sorry, your browser does not support inline SVG.
      </svg>
      </center>
      <div class="caption">
        <h3>Elevator Saga</h3>
        <p>
          This web programing game has you making the logic to optimize a system
          of elevators. Each stage has new challenges to tweak and improve your
          algorithm based on new metrics. See my submission running here.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a class="thumbnail">
      <center>
        <svg width="200" height="200">
          <rect width="200" height="200" stroke="blue" stroke-width="4" fill="grey" />
          Sorry, your browser does not support inline SVG.
        </svg>
      </center>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </a>
  </div>
  <div>
    <a class="thumbnail">
      <center>
        <svg width="200" height="200">
          <rect width="200" height="200" stroke="blue" stroke-width="4" fill="grey" />
          Sorry, your browser does not support inline SVG.
        </svg>
      </center>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </a>
  </div>
</div>
</template>
