<template name="selectproject">
<div class="row">
  <div>
    <a class="thumbnail" id="elevatorsaga">
      <center><svg width="200" height="200">
       <rect width="200" height="66" stroke="blue" stroke-width="4" fill="grey" />
       <rect width="200" height="66" y="66" stroke="blue" stroke-width="4" fill="grey" />
       <rect width="200" height="66" y="132" stroke="blue" stroke-width="4" fill="grey" />

       <rect width="60" height="60" x="3" y="3" fill="green" />
       <rect width="60" height="60" x="69" y="69" fill="green" />
       <rect width="60" height="60" x="137" y="135" fill="green" />

      Sorry, your browser does not support inline SVG.
      </svg>
      </center>
      <div class="caption">
        <h3>Elevator Saga</h3>
        <p>
          This web programing game has you making the logic to optimize a system
          of elevators. Each stage has new challenges to tweak and improve your
          algorithm based on new metrics. See my submission running here.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a class="thumbnail" id="mastermind">
      <center>
        <svg width="200" height="200">

          {{#each mastermindThumbnail}}
            {{#each pegs}}
              <rect width="50" height="50" x="{{x}}" y="{{y}}" fill="{{color}}" />
            {{/each}}
          {{/each}}
          Sorry, your browser does not support inline SVG.
        </svg>
      </center>
      <div class="caption">
        <h3>Mastermind Solver</h3>
        <p>
          A bit of Prolog code I did to get all the posible soulutions for
          playing mastermind. Play and see all posible solutions instead of
          guessing.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a class="thumbnail" id="assemblyproject">
      <center>
        <svg width="200" height="200">
          <rect width="200" height="200" stroke="blue" stroke-width="4"/>
          <text x="0" y="15" fill="green">
            1010101010101010101010101
            <tspan x="0" y="35">0101010101010101010101010</tspan>
            <tspan x="0" y="55">1010101010101010101010101</tspan>
            <tspan x="0" y="75">0101010101010101010101010</tspan>
            <tspan x="0" y="95">1010101010101010101010101</tspan>
            <tspan x="0" y="115">0101010101010101010101010</tspan>
            <tspan x="0" y="135">1010101010101010101010101</tspan>
            <tspan x="0" y="155">0101010101010101010101010</tspan>
            <tspan x="0" y="175">1010101010101010101010101</tspan>
            <tspan x="0" y="195">0101010101010101010101010</tspan>
          </text>
          Sorry, your browser does not support inline SVG.
        </svg>
      </center>
      <div class="caption">
        <h3>Assembly Sieve of Eratosthenes</h3>
        <p>
          A college project of mine where I had writen a validator for
          goldbach's conjecture in assembly language.
        </p>
      </div>
    </a>
  </div>
  <div>
    <a class="thumbnail" id="opengl">
      <center>
        <img src="teapot_wireframe.jpg" alt="teapot wireframe" width="200" height="200" />
      </center>
      <div class="caption">
        <h3>Open GL</h3>
        <p>
          Created a openGL animation through taking an Udacity course.
        </p>
      </div>
    </a>
  </div>
</div>
</template>
