<template name="interests">
<div class="page-header">
  <h3>
This is an overview of what I enjoyed in my coursework/work experience and I hope this helps paint a picture of what drives my passion for computer science.
  </h3>
</div>

<p>
Discrete Math, when first introduced it was foreign to me but it began to grow on me as it came up in multiple areas such as AI, Assembly, Foundations of Algorithms or just defining something recursively. After a while I really got good at it and found that I enjoyed how it could be applied to complex systems. Understanding the discreet rules became fundamental to understanding the system structure. It was valuable to see these small rules create big systems, and no matter how complex these systems were the discrete elements allowed you to break them down.
</p>

<p>
This explains a bit about why I really liked low-level work. My assembly class was one of my favorite classes where learning an Instruction set gave me the ability to interact with the hardware system. I found that it gave a lot of control, and understanding the system was vital in programming, debugging and optimizing your code. My other classes related to this were computer organization and computer architecture. Computer organization seemed to come naturally to me since you can't get much more discrete than the logic of a transistor. Computer architecture was an advanced version of computer systems where we learned about different computing models for high performance computing such as the SIMD and MIMD computing models.
</p>

<p>
Other classes I really liked were theory of computation, networking, data structures, and OS. Theory of computation is rooted in discreet math so I obviously enjoyed it. Networking was a lot of high-level concepts of the types of networks and technologies that existed and evolved over the years to get us to today. Data structures was a fun programming experience. Lastly operating systems was enjoyable for the concepts that I learned, and for assignments that simulated context switching on a single thread. My overall focus was to take a wide range of classes to improve my knowledge base and attack challenging problems in different ways.
</p>

<p>
My development experience has consisted mostly of java and python. These are both high level languages where I was involved in an application with a high level structure that was being iterated upon to improve maintainability and scalability. This application had a range of utilities that it interacted with such as network streams, HTTP REST interface, threads and xml processing. The range of the applications infrastructure made it an engaging product to work on. We also were using good practices such as unit tests and continuous integration. We ran unit tests and performed code metrics on the application to check stability and gauge improvements. I bring that up because I often noticed how these practices helped minimize issues and improve product stability. After using them it would be hard to go without since they have proven to be very useful.
</p>

<p>
Since my time in school I've done some web development, my experience with this has been good and I enjoyed learning the new skills. While I did enjoy that I feel that my programing focus is best utilized when focusing on data structures, complexity and maintaining logic in a back-end infrastructure.
</p>

<p>
I hope this gave you a good idea of how my skills are focused on low level programming logic and the use of data structures for problem solving. I've worked on developing a range of skills some of the most useful development skills have been digging through code and knowing how to find the information you need to solve a problem. I could potentially see myself as a generalist in those regards, but there are definitely things that my interests are focused on and would enjoy the ability to continue working in those areas.
</p>

<p>
Thanks.
<br/>
Sincerely, David Garvey.
</p>
</template>
