<template name="sidebar">
<div class="list-group">
  <a href="#" class="list-group-item active" id="interests">
    <h4 class="list-group-item-heading">Computer Science Interests</h4>
    <p class="list-group-item-text">what I liked about the things I've done</p>
  </a>
  <a href="#" class="list-group-item" id="resume">
    <h4 class="list-group-item-heading">Resume</h4>
    <p class="list-group-item-text">what I have done</p>
  </a>
  <a href="#" class="list-group-item" id="cvleter">
    <h4 class="list-group-item-heading">Cover Leter</h4>
    <p class="list-group-item-text">my take on the things I have done</p>
  </a>
</div>
</template>
